@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(88, 91, 91);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(88, 91, 91);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(151, 157, 157);
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(88, 91, 91);
        border-bottom: 3px solid rgb(88, 91, 91);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(137, 137, 137);
        border-top: 0.1rem solid rgba(0,0,0,0.1)
    }
    
    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgb(88, 91, 91);
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(0, 0, 0);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(88, 91, 91);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 48vh;
    border-radius: 30%;
    box-shadow: 0 0 25px solid red;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-img{
    border-radius: 50%;
}

.about-img img{
    border-radius: 30%;
    width: 40vh;
    box-shadow: 0 0 25px solid rgb(88, 91, 91);
    cursor: pointer;
    transition: 0.2s linear;
}

.about-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.heading{
    font-size: 6rem;
    text-align: center;
}

.about-content{
    padding: 0 4rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 3rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background-color: rgb(47, 46, 46);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid rgb(88, 91, 91);;
    transition: 0.3s ease;
}

.services-container .services-box:hover{
    border-color: rgb(255, 255, 255);
}

.services-box h3{
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.contact{
    background-color: rgb(47, 46, 46);
    margin-top: 100px;
    border-radius: 40px;
}

.contact h2{
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    background-color: rgb(47, 46, 46);
    border-radius: 0.8rem;
    border: 0.25rem solid rgb(88, 91, 91);
    margin: 0.7rem;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    margin-top: 2rem;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(88, 91, 91);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: rgb(88, 91, 91);
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(88, 91, 91);
    box-shadow: 0 0 25px rgb(88, 91, 91);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(88, 91, 91);
    letter-spacing: 0.3rem;
    font-weight: 500;
    border: 2px solid rgb(88, 91, 91);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: rgb(88, 91, 91);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(88, 91, 91);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Dev";
    color: rgb(88, 91, 91);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(88, 91, 91);
    }
}

@keyframes words{
    0%, 20%{
        content: "Desenvolvedor Web";
    }
    21%, 40%{
        content: "Desenvolvedor Front-End";
    }
    41%, 60%{
        content: "Designer Web"
    }
    61%, 80%{
        content: "Estudante de ADS";
    }
    81%, 100%{
        content: "Script Writer";
    }
}

@media(max-widht: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-widht: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}
